
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js" ></script>
    <script src="~/Scripts/angular.js"></script>

    <script src="~/App/App.js"></script>
    <script src="~/App/Controllers/StoreController.js"></script>
</head>
<body>
    <script>
        var albums = [];
        @foreach (var album in ViewBag.albums)
        {
            @:albums.push(@Html.Raw(Json.Encode(album)));
        }
    </script>

    <div class="container" ng-app="store" ng-controller="StoreController">
        <h1>Music Store</h1>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Titel</th>
                    <th>Artist</th>
                    <th>Price</th>
                    <th>Release Date</th>
                    <th>Buy</th>
                </tr>
            </thead>
            <tbody>
                @for(int i=0; i< ViewBag.albums.Count;++i)
                {
                    var album = ViewBag.albums[i];
                       
                    <text><tr id="album-@i">
                            <td>@album.Title</td>
                            <td>@album.Artist</td>
                            <td>&euro; @album.Price</td>
                            <td>@album.ReleaseDate.ToString("dd-MM-yyyy")</td>
                            <td><button class="btn btn-default" ng-click="addProduct(@i)">buy now</button></td>
                        </tr></text>
                    
                }
            </tbody>
        </table>

        <h1>In Basket</h1>
        <table class="table table-condensed table-striped">
            <thead >
                <tr>
                    <th>Titel</th>
                    <th>Artist</th>
                    <th>Price</th>
                    <th>Release Date</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in products">
                    <td>{{product.Title}}</td>
                    <td>{{product.Artist}}</td>
                    <td>{{product.Price}}</td>
                    <td>{{product.Releasedate}}</td>
                    <td>{{product.Count}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
